body {
  margin: 0;
}

main {
  background: linear-gradient(135deg, #1e3a8a, #9333ea);
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
  min-height: 100vh;
  gap: 40px;
  /* margin: 0; */
}

h1 {
  font-size: 84px;
  font-weight: bold;
  color: white;
  margin: 0;
}

#maze {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 12px;
}

button {
  padding: 40px 80px;
  font-size: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  color: black;
  border: none;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.08);
}

button:active {
  transform: scale(0.95);
}

#controls {
  display: flex;
  gap: 10px;
}

#controls button {
  padding: 60px 120px;
  font-size: 48px;
}

.cell {
  width: 250px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: center; /*this centers the left right */
  align-items: center; /*this centers top and bottom*/
  font-size: 120px;
  transition: all 0.2s ease;
}

.visited {
  background-color: rgba(255, 255, 255, 0.25);
}

.current {
  background-color: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
  transform: scale(1.05);
}

#message {
  font-size: 100px;
  font-weight: bold;
  color: #e2e8f0;
  margin: 20px 0px;
  letter-spacing: 2px;
}

#maze.hidden, /* WOW you can do this. */
#controls.hidden {
  display: none;
}
/* #Amaze (ID selector) is stronger than .hidden(class selector) */

#game-over.hidden {
  display: none;
}

#game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 1000;
}

.hidden {
  display: none;
}

#game-over h2 {
  font-size: 200px;
  font-weight: bold;
  color: #f87171;
  text-shadow: 0 0 20px #f87171;
  margin-bottom: 20px;
}

/* .bonus-glow {
  color: #facc15;
  text-shadow:
    0 0 10px #facc15,
    0 0 20px #facc15,
    0 0 40px #facc15;
} */
