body {
  margin: 0;
}

main {
  background-color: #ffe900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  /* margin: 0; */
}

#maze {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 5px;
  background-color: #003a70;
  padding: 5px;
}

button {
  padding: 60px 120px;
  font-size: 50px;
  border-radius: 60px;
  background-color: blanchedalmond;
}

#controls {
  display: flex;
  gap: 10px;
}

.cell {
  width: 250px;
  height: 250px;
  background-color: #ffcb05;

  display: flex;
  justify-content: center; /*this centers the left right */
  align-items: center; /*this centers top and bottom*/

  font-size: 120px;
  color: black;
}

.visited {
  background-color: pink;
}

.current {
  background-color: powderblue;
}

#maze.hidden, /* WOW you can do this. */
#controls.hidden {
  display: none;
}

/* #Amaze (ID selector) is stronger than .hidden(class selector) */
